<%= form_for(@user, html: { class: "form-horizontal", role: "form", autocomplete: 'false' }) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="input-group input-group-lg">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
      </span>
      <%= f.text_field :login, class: "form-control new-user", placeholder: :login %>
	  </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-envelope"></span>
      </span>
      <%= f.text_field :email, class: "form-control new-user", placeholder: :email, autocomplete: 'false' %>
	  </div>
	  <div class="input-group input-group-lg">
	      <span class="input-group-addon">
	        <span class="glyphicon glyphicon-lock"></span>
	      </span>
	      <%= f.password_field :password, class: "form-control new-user", placeholder: :password, autocomplete: 'false'  %>
	  </div>
      <%= f.submit class: "btn btn-primary btn-lg btn-block" %>
<% end %>
