<%- model_class = Project -%>
<% provide(:title, 'All projects') %>
<div class="container">

	<div class="col-lg-8 col-lg-offset-2">
	  <div class="page-header">
	    <div class="page-header">
	      <h1 class="text-center">List projects</h1>
	      <%= link_to new_project_path, class: 'btn btn-primary ' do %>
	        <span class="glyphicon glyphicon-plus"></span>
	        New Projects
	      <% end %>
	    </div>

	  <% @projects.each do |project| %>
	    <div class="row item">
	      <div class="item-header">
	        <div class="col-lg-10">
	          <div class="item-title">

	            <%= link_to project.name, project_path(project) %>
	          </div>
	        </div>

	        <div class="pull-right item-manage">
	          <%= link_to "Edit",
		          edit_project_path(project), :class => 'btn btn-default btn-sm' %>
	          <%= link_to "Delete",
		          project_path(project),
		          method: :delete,
		          data: { confirm: "Are You shure?" },
		          class: 'btn btn-sm btn-danger' %>
	        </div>
	      </div>

	      <% if project.users.count > 0 ||  project.tasks.count > 0 %>

			    <div class="row">
			      <div class="col-lg-12">
			        <div class="item-info">
			          <div class="item-content col-lg-8">

			            <span class="span">Tasks (<%= project.tasks.count %>) </span>
			            <span class="span">Members (<%= project.users.count %>) </span>
			            </div>

			            <div class="item-content col-lg-4">
			              <%= project.users.find_each do |user| %>
			                <% if user.role_id == 2 %>
			                  <p class="text-right">Manager:
			                    <%= user.login %>
			                  <% end %>
			                <% end %>

			              </p>
			            </div>
			          </div>
			        </div>
			      </div>
	      <% end %>

	    </div>
	  <% end %>
	</div>

</div>
</div>